{% extends "WebMainBundle::layout.html.twig" %}

{% block body%}
<h2>Activate your account</h2>
<p>Your account is not totally complete. We send you a confirmation mail. Please check your inbox.</p>
{% block fos_user_content %}
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}
{% endblock fos_user_content %}

{% endblock %}