.login-btn {
	position: absolute; 
	right:2%;
	top:1px;
	list-style: none;
}

.page-header.center {
	text-align: center;
}

.bot-page {
	width: 100%;
	bottom: 40px;
	margin: 0;
	text-align: center;
	left:0;
}

.link-list tr th{
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
}

.link-list tr td{
	vertical-align: middle;
	text-align: center;
	font-size: 13px;
	padding: 3px;
}

.info-ref {
	display: none;
}

canvas#JSChart_referer {
	position: relative;
	top:-50px !important;
	left: -115px !important;
}
canvas#JSChart_country {
	position: relative;
	top:-50px !important;
	left: -115px !important;
}